<div class="registro-container">

    <div class="cuadro-registro">
        <label> Usuario: </label>
        <input type="text" [(ngModel)]="usuario"/>
        <label> Password: </label>
        <input type="text" [(ngModel)]="password"/>
        <label> Confirma Password: </label>
        <input type="text" [(ngModel)]="confpass">
        <label> Correo: </label>
        <input type="text" [(ngModel)]="correo">
        <label> Nombre: </label>
        <input type="text" [(ngModel)]="nombre">
        <!--<input type="checkbox" name="terminos" value="Acepta"> Acepto <br>-->
        <!--<input Type="submit" value="Submit">-->
    </div>

    <!--<div class="botton">
            <button (click)="sesionInicio()" >Registro</button>
    </div>-->

</div>